.axit {
    padding: 100px 0;
    background-image: url("../img/background-1\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}
.axit-wrap {
    margin: 0 -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.axit:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
	height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: -1;
}
.axit-information {
    width: 544px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logo_axit {
    font-family: Raleway;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 400;
    margin-bottom: 42px;
}
.logo_axit span {
    color: #EC7979;
}
.axit-title {
    color:#FFF;
    font-size: 36px;
    font-weight: 400;
    font-family: "Raleway";
    text-transform: uppercase;
}
.axit-title:after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: #FFF;
    margin: 32px 0  39px;
    display: block;
  }
.axit-description {
    width: 282px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 39px;
}
.button_wrap {
    display: flex;
    text-align: center;
    justify-content: center;
    background: rgba(196, 196, 196, 0.00);
}
.button {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 135px;
    height: 42px;
    flex-shrink: 0;
} 
.button_link {
    border: 1px solid white;
    padding: 11px 26px;
    color: white;
    font-weight: 600;
    font-size: 15px;
}.button_link:hover {
    background-color: #EC7979;
    width: 135px;
    height: 42px;
} 
.card-free_trial {
    width: 370px;
    border-radius: 8px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.content {
    padding: 18px 59px 0 59px;
}
.content h3 {
    color: #333;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 62px;
}
.content span {
    color: #EC7979;
}
.card-items {
    margin-bottom: -19px;
}
.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 19px;
}
.item label {
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 400;
}
.item input {
    padding: 3px 0 3px;
    outline: none;
    height: 16px;
    border: none;
    border-bottom: 1px solid rgb(189, 189, 189);
    font-family: Open Sans;
}
.item input:hover {
    border: none;
    border-bottom: 1px solid rgb(189, 189, 189);
}
.card-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.card-button button {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    background: #EC7979;
    border: 0;
    cursor: pointer; 
    width: 100%;
    line-height: 53px;
    transition: 0.2s all; 
}
.card-button button:hover {
    background: rgb(236, 121, 121, 0.8);
}
