.axura {
    padding: 57px 0;
    background-image: url("../img/background\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.axura-title {
    color:#FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    font-family: "Raleway";
    text-transform: uppercase;
}
.axura-heading span {
    display: block;
    width: 64px;
    height: 2px;
    background-color: #FFF;
    margin: 34px auto 34px;
  }
.axura-description {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin: 0 16px 19px 0;
}
.button_wrap {
    display: flex;
    text-align: center;
    justify-content: center;
    background: rgba(196, 196, 196, 0.00);
}
.button {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 135px;
    height: 42px;
    flex-shrink: 0;
} 
.button_link {
    border: 1px solid white;
    padding: 11px 26px;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
