.axura {
    padding: 57px 0;
    background-image: url("../img/background\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}
.axura:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
	height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: -1;
}
.axura-title {
    color:#FFF;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
    font-family: "Raleway";
    text-transform: uppercase;
}
.axura-title:after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: #FFF;
    margin: 34px auto 34px;
    display: block;
  }
.axura-description {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 16px 19px 0;
}
.button_wrap {
    display: flex;
    text-align: center;
    justify-content: center;
    background: rgba(196, 196, 196, 0.00);
}
.button {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 135px;
    height: 42px;
    flex-shrink: 0;
} 
.button_link {
    border: 1px solid white;
    padding: 11px 26px;
    color: white;
    font-weight: 600;
    font-size: 0.9375rem;
}.button_link:hover {
    background-color: #EC7979;
    width: 135px;
    height: 42px;
} 
@media (max-width: 1200px) {
    html {
      font-size: 14px;
    }
    .container {
      max-width: 970px;
    }
  }
  @media (max-width: 992px) {
    html {
      font-size: 12px;
    }
    .container {
      max-width: 750px;
    }
  }
  @media (max-width: 767px) {
    html {
      font-size: 10px;
    }
    .container {
      width: 100%;
    }
  }
  @media (max-width: 566px) {
    html {
      font-size: 13px;
    }
  }
  @media (max-width: 320px) {
  }