.footer {
    background: #000;
    padding-top: 30px;
}
.footer-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -15px;
}
.footer-icons-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
}
.list-icons {
    margin-left: 45px;
}
.footer-icons-list a {
    font-size: 23px;
    color: rgba(255, 255, 255, 0.80);
    transition: 0.2s;
    cursor: pointer;
    margin-left: -45px;
}
.footer-icons p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}
.footer-icons-list a :hover{
    color: #EC7979;
}