.footer {
    background: #000;
    padding-top: 30px;
}
.footer-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -15px;
}
.footer-icons-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
}
.list-icons {
    margin-left: 45px;
}
.footer-icons-list a {
    font-size: 23px;
    color: rgba(255, 255, 255, 0.80);
    transition: 0.2s;
    cursor: pointer;
    margin-left: -45px;
}
.footer-icons p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}
.fa-facebook-f:hover {
    color:rgb(65, 7, 189);
}
.fa-twitter:hover {
    color:rgb(18, 96, 136);
}
.fa-google:hover {
    color:rgb(219, 74, 57);
}
.fa-pinterest:hover {
    color:red;
}
.fa-instagram:hover{
    color:rgb(131, 58, 180);
}
.fa-linkedin:hover {
    color: rgb(42, 71, 168);
} 
.fa-wifi:hover {
    color:rgb(42, 8, 237);
}