.footer {
    background: #000;
    padding-top: 30px;
}
.footer-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -15px;
}
.footer-icons-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
}
.list-icons {
    margin-left: 45px;
}
.footer-icons-list a {
    font-size: 1.4375rem;
    color: rgba(255, 255, 255, 0.80);
    transition: 0.2s;
    cursor: pointer;
    margin-left: -45px;
}
.footer-icons p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 0,75rem;
    font-weight: 400;
    margin-bottom: 15px;
}
.fa-facebook-f:hover {
    color:rgb(65, 7, 189);
}
.fa-twitter:hover {
    color:rgb(18, 96, 136);
}
.fa-google:hover {
    color:rgb(219, 74, 57);
}
.fa-pinterest:hover {
    color:red;
}
.fa-instagram:hover{
    color:rgb(131, 58, 180);
}
.fa-linkedin:hover {
    color: rgb(42, 71, 168);
} 
.fa-wifi:hover {
    color:rgb(42, 8, 237);
}
@media (max-width: 1200px) {
    html {
      font-size: 14px;
    }
    .container {
      max-width: 970px;
    }
  }
  @media (max-width: 992px) {
    html {
      font-size: 12px;
    }
    .container {
      max-width: 750px;
    }
  }
  @media (max-width: 767px) {
    html {
      font-size: 10px;
    }
    .container {
      width: 100%;
    }
  }
  @media (max-width: 566px) {
    html {
      font-size: 13px;
    }
    
    .header-wrap {
        flex-direction: column;
    }
  }
  @media (max-width: 320px) {
  }