.header {
    background-color: #000;
    padding: 20px 0;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}
.logo {
    font-family: Raleway;
    font-size: 1.875rem;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 400;
}
.logo span {
    color: #EC7979;
}
.navigation-list {
    display: flex;
}
.navigation-list__item {
    margin-left: 48px;
}
.navigation-list__item a {
    color: rgba(255, 255, 255, 0.70);
    text-transform: capitalize;
    font-size: 0.9375rem;
}
.navigation-list__item a:hover {
    border-bottom: 2px solid #EC7979;
    padding-bottom: 5px;
}
@media (max-width: 1200px) {
    html {
      font-size: 14px;
    }
    .container {
      max-width: 970px;
    }
    .header-wrap {
        justify-content: space-evenly;
    }
  }
  @media (max-width: 992px) {
    html {
      font-size: 12px;
    }
    .container {
      max-width: 750px;
    }
  }
  @media (max-width: 767px) {
    html {
      font-size: 10px;
    }
    .container {
      width: 100%;
    }
  }
  @media (max-width: 566px) {
    html {
      font-size: 13px;
    }
    
    .header-wrap {
        flex-direction: column;
    }
  }
  @media (max-width: 320px) {
  }