.social {
    background-color: #F8EFEF;
    padding: 14px 0 17px;
}
.social-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}
.title-social {
    color: #333;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 14px;
}
.description-social {
    width: 365px;
}
.description-social p {
    color: #86878B;
    font-size: 0.875rem;
    font-weight: 400;
}
.social-icons {
    width: 684px;
}
.social-list {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.social_list_icon {
    font-size: 2.625rem;
    cursor: pointer;
}
.icon-link {
    color: rgb(134, 135, 139,0.30);
}
.list_icon {
    transition: 0.5s;
}
.list_icon:hover {
    transform: rotate(360deg) scale(1.2)
}
.fa-facebook-f:hover {
    color:rgb(65, 7, 189);
}
.fa-twitter:hover {
    color:rgb(18, 96, 136);
}
.fa-google:hover {
    color:rgb(219, 74, 57);
}
.fa-pinterest:hover {
    color:red;
}
.fa-instagram:hover{
    color:rgb(131, 58, 180);
}
.fa-linkedin:hover {
    color: rgb(42, 71, 168);
} 
.fa-wifi:hover {
    color:rgb(42, 8, 237);
}
@media (max-width: 1200px) {
    html {
      font-size: 14px;
    }
    .container {
      max-width: 970px;
    }
    .social-wrap{
        flex-direction: column;
        text-align: center;
    }
  }
  @media (max-width: 992px) {
    html {
      font-size: 12px;
    }
    .container {
      max-width: 750px;
    }
  }
  @media (max-width: 767px) {
    html {
      font-size: 10px;
    }
    .container {
      width: 100%;
    }
    .social-list {justify-content: center;
    }
  }
  @media (max-width: 566px) {
    html {
      font-size: 13px;
    }
    
  }
  @media (max-width: 320px) {
  }