.feautures {
    padding: 125px 0;
    background-color: #FFF;
}
.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -15px;
}
.tabs-header {
    width: 112px;
    margin-bottom: -10px;
}
.tabs-header button {
    width: 112px;
    height: 110px;
    border-radius: 4px;
    background: #333;
    margin-bottom: 10px;
    font-family: Open Sans;
    color: #FFF;
    text-align: center;
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
}
.tabs-header button:hover {
    background: #EC7979;
    border: none;
    cursor: pointer;
}
.tabs-content {
    width: 972px;
}
.tabs-content-item_1 {
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tabs-content-item_2 {
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}
.tabs-content-item_3 {
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}
.information {
    width: 572px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.information h2 {
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.information-text {
    color: #86878B;
    font-family: Open Sans;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
}
.information-text p {
    margin-bottom: 20px;
}
.information-button_wrap{
    width: 135px;
    height: 42px;
    background: #EC7979;
    display: flex;
    text-align: center;
    justify-content: center;
}
.information-button_link {
    padding: 12px 25px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 0.9375rem;
    font-weight: 600;
}
.tabs-content-img img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
@media (max-width: 1200px) {
    html {
      font-size: 14px;
    }
    .container {
      max-width: 970px;
    }
  }
  @media (max-width: 992px) {
    html {
      font-size: 12px;
    }
    .container {
      max-width: 750px;
    }
    .tabs-content-item_1 {
        flex-direction: column;
        align-items: center;
    }
  }
  @media (max-width: 767px) {
    html {
      font-size: 10px;
    }
    .container {
      width: 100%;
    }
  }
  @media (max-width: 566px) {
    html {
      font-size: 13px;
    }
  }
  @media (max-width: 320px) {
  }